<div class="modal" data-modal="true" id="book_modal">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <h3 class="modal-title">Ma lecture</h3>
        </div>
        <div class="modal-body p-0 pb-5">
            <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto"
                 data-scrollable-offset="300px">
                <form method="POST" action="/request/" id="test" name="book_form">
                    <div class="flex flex-col gap-5 p-5">
                        <div class="flex flex-col gap-1">
                            <label for="book" class="form-label font-normal text-gray-900">Livre</label>
                            <select name="book_form[book_id]" id="book" class="select">
                                <option value="1">Livre 1</option>
                                <option value="2">Livre 2</option>
                            </select>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="form-label font-normal text-gray-900">Mes notes</label>
                            <div class="flex flex-col w-full gap-1">
                            <textarea id="description" name="book_form[description]" class="textarea"
                                      placeholder="Notez-ici les idées importantes de l'oeuvre."></textarea>
                            </div>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label for="book" class="form-label font-normal text-gray-900">Note</label>
                            <select id="book" class="select" name="book_form[rating]">
                                <option>1</option>
                                <option>1.5</option>
                                <option>2</option>
                                <option>2.5</option>
                                <option>3</option>
                                <option>3.5</option>
                                <option>4</option>
                                <option>4.5</option>
                                <option>5</option>
                            </select>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="switch">
                                <span class="switch-label font-normal text-gray-900">Lecture terminée</span>
                                <input type='hidden' value='0' name='book_form[read]'>
                                <input name="book_form[read]" type="checkbox" value="1"/>
                            </label>
                        </div>

                        <div class="flex">
                            <button id="submitbtn" type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                    <input type="hidden" id="book_form__token" name="book_form[_token]" data-controller="csrf-protection" autocomplete="off" value="csrf-token">
                </form>
                <script src="{{ asset('controller/book.js') }}"> 
                
                </script> 

            </div>
        </div>
    </div>
</div>